Java/Android Studio, June 40%
image, user info, other data will be saved to database
PSU pangasinan


logo
AMAFF
Agricultural Mobile Application For Farmers

Identify objects via image recognition : Mais, Palay, Sibuyas

Welcome slides

Login page with logo(google, email-password)

selection of user planting : garden, pots, fields

User can select up to 5 crops

can take/upload an image

after uploading/capture :
	image is valid
		-> Show information page about the identified planting
	invalid
		->show invalid message box at the bottom
		
		
deadline June 19 = 50%

website admin

[DONE]login/signup of admin using mobile number
	-> for the sign in to be successful, the mobile number should send OTP code
	-> if the OTP code is correct then proceed
	-> check if the mobile number is in the Admin collection
	-> if the above conditions are met, then the user should be redirected to homepage

dashboard ->
	homepage ->
	user names ->
	user gender percentage ->
	crops details ->
	about ->
	
App
	[OK]profile -> Edit profile[]
	[OK]dashboard -> crops list[+1%]
	[OK]homepage -> weather[+2%]
	
[DONE] verify user if farmer, using mobile no





revision
Web admin:
remove user line graph and replace with bar graph of crops[+1%]
[OK]add number of crops input field[+1%]
add crop text instead of save changes[]
add delete function[]
add weather edit page[+2%]
